<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a [routerLink]="['home']" class="navbar-brand">iTunes Search App</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a [routerLink]="['home']" class="nav-link">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a [routerLink]="['search']" class="nav-link">Search</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">

            <a *ngIf="login" [routerLink]="['logout']" class="nav-link">Log Out</a>

        </div>
        <div class="form-inline my-2 my-lg-0">

            <a *ngIf="!login" [routerLink]="['login']" class="nav-link">Log in</a>

        </div>
    </div>
</div>
<p *ngIf="!login">
    <ng-content select=".login"></ng-content>
</p>
<p *ngIf="login">
    <ng-content select=".logout"></ng-content>
</p>

<router-outlet></router-outlet>