<div class="card card-block">
    <h4 class="card-title">Create a Joke</h4>
    <div class="form-group">
        <label for="setup">Setup</label>
        <input type="text" class="form-control" #setup placeholder="Enter a setup" name="setup">
        <label for="punchline">punchline</label>
        <input type="text" name="punchline" #punchline placeholder="Enter a punchline" class="form-control">
        <button type="button" class="btn btn-primary" (click)="addJoke(setup.value, punchline.value);">Add</button>
    </div>
</div>