<div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" name="search" placeholder="Insert a search test" #search>
    <button (click)="onSearch(search.value)" class="btn btn-primary">Search</button>
</div>
<div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
</div>

<div class="list-group">

    <div class="list-group-item" *ngFor="let artist of results">
        <img src="{{artist.artworkUrl60}}">  <a target="_blank"   href="{{artist.artistViewUrl}}">{{ artist.trackName }}         </a>

    </div>


</div>