<div class="form form-inline">
    <input type="search" class="form-control" name="search" placeholder="Enter a term for search" #search>
    <button type="button" class="btn btn-primary" (click)="doSearch(search.value)">Search</button>
</div>

<div class="list-group" *ngFor="let artist of searchList">
    <div class="list-group-item">
        <img class="list-inline" src="{{artist.thumbnail}}" alt=""> {{artist.artist}} - <a [routerLink]="['/artist', artist.artistId]">{{artist.name}}</a>
    </div>
</div>